<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prove Token</title>
    <meta name="keywords" content="Prove Token,provetoken.io,Ethereum,online certification" />
    <meta name="description" content="The 1st decentralized online certification platform, Ethereum Token, online certification, helps companies finding candidates who fit their needs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" id="favicon" />
</head>
<body>

    <header class="header">
        <div class="header-container">
            <div class="header-logo">
                <img src="img/logo64x64.png" alt="logo" class="logo">
                <div class="header-logo__text">
                    <span>Prove</span>
                    <span>Token</span>
                </div>
            </div>

            <!-- header desktop menu -->
            <div class="header-desktop">
                <div class="header-desktop__links">
                    <a href="#preview">Preview</a>
                    <a href="#actors">Actors</a>
                    <a href="#roadmap">Roadmap</a>
                    <a href="#links">Exchanges</a>
                    <a href="#contact">Contact Us</a>
                </div>

                <div class="header-desktop__download">
                    <a href="javascript:void(0)" onclick="goToWhitepaper()">Whitepaper</a>
                </div>
            </div>
            <!-- header mobile menu -->
            <div class="header-mobile" id="header-mobile">
                <div class="icon" ">
                    <div class="menuIcon"></div>
                    <div class="menuIcon"></div>
                    <div class="menuIcon"></div>
                </div>
                <div class="header-mobile-menu hide">
                    <div class="header-mobile__links">
                        <a href="#preview">Preview</a>
                        <a href="#actors">Actors</a>
                        <a href="#roadmap">Roadmap</a>
                        <a href="#links">Exchanges</a>
                        <a href="#contact">Contact</a>
                    </div>

                    <div class="header-mobile__download">
                        <a href="javascript:void(0)" onclick="goToWhitepaper()">Whitepaper</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.header-container -->

    </header>
    <!-- /.header -->
    <section class="preview" id="preview">
        <div class="preview-container">
            <div class="preview-content">
                <h1 class="preview-content__title">
                    Prove Token
                </h1>
                <h2 class="preview-content__subtitle">
                    The 1st decentralized online certification platform
                </h2>
                <p class="preview-content__description">
                    This is an incentive platform which helps companies to find people who have To accomplish a specific task. Candidates also benefit from using this platform by proving their real expertise.
                </p>

                <button class="preview-content__download" onclick="goToWhitepaper()">Witepaper</button>
            </div>
            <div class="preview-image">
                <img src="img/content_image.png" alt="content image">
            </div>
        </div>
        <!-- /.preview-container -->
        <div class="preview-container tokenDetails">
            <div class="preview-content">
                <h1 class="preview-content__title">
                    Token Details
                </h1>
                <table>
                    <tr>
                        <td>Token Name</td>
                        <td>Prove Token</td>
                    </tr>
                    <tr>
                        <td>Token Compliant</td>
                        <td>ERC20</td>
                    </tr>
                    <tr>
                        <td>Token Technology Platform</td>
                        <td>Ethereum</td>
                    </tr>
                    <tr>
                        <td>Token Decimal Points</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>Token Symbol</td>
                        <td>PROVE</td>
                    </tr>
                    <tr>
                        <td>Total Supply</td>
                        <td>47 000 000</td>
                    </tr>
                    <tr>
                        <td>Maximum Supply</td>
                        <td>70 000 000</td>
                    </tr>
                </table>
            </div>
            <div class="preview-image">
            </div>
        </div>
    </section>
    <!-- /.preview -->
    <section class="actors" id="actors">
        <div class="actors-container">
            <h1>Actors</h1>
            <div class="actors-content">
                <div class="actors-content__element">
                    <img src="img/student.png" alt="student">
                    <h2>Candidate</h2>
                    <ul>
                        <li>- free to create an account</li>
                        <li>- pays only for taking tests</li>
                        <li>- share his/her proved expertise</li>
                    </ul>
                </div>
                <div class="actors-content__element">
                    <img src="img/publisher.png" alt="publisher">
                    <h2>Publisher</h2>
                    <ul>
                        <li>- fully free</li>
                        <li>- rewarded based on using of tests they create</li>
                        <li>- free to set the price for each test</li>           
                    </ul>
                </div>
                <div class="actors-content__element">
                    <img src="img/company.jpg" alt="company">
                    <h2>Company</h2>
                    <ul>
                        <li>- free to create an account</li>
                        <li>- pays only for using publishers’ tests</li>
                        <li>- demands custom tests</li>
                        <li>- evaluates publishers</li>
                        <li>- selects the right candidates based on their results</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.actors-container -->
    </section>
    <!-- /.actors -->
    <section class="roadmap" id="roadmap">
        <div class="roadmap-container">
            <h1>Roadmap</h1>
            <div class="roadmap-content">
                <div class="roadmap-element-outside-first">
                    <div class="roadmap-element__quarter">
                        <h1>Q3 - 2018</h1>
                        <ul>
                            <li><img src="img/check.png" alt="arrow"> whitepaper release</li>
                            <li><img src="img/check.png" alt="arrow"> presentation website release</li>
                            <li><img src="img/check.png" alt="arrow"> create Ethereum ERC20 token</li>
                        </ul>
                    </div>
                    <div class="roadmap-element__quarter">
                        <h1>Q1 - 2019</h1>
                        <ul>
                            <li>alpha platform release</li>
                            <li>additional exchange listing</li>
                            <li>start to create partnerships <br />with&nbsp;&nbsp; top publishers</li>
                        </ul>
                    </div>
                </div>
                <div class="roadmap-element-first">
                    <span>&lt;</span>
                    <span>&lt;</span>
                </div>
                <div class="roadmap-element-center">
                    <div class="roadmap__progressBar"><span></span></div>
                </div>
                <div class="roadmap-element-second">
                    <span>&gt;</span>
                    <span>&gt;</span>
                    <span>&gt;</span>
                </div>
                <div class="roadmap-element-outside-second">
                    <div class="roadmap-element__quarter">
                        <h1>Q2 - 2018</h1>
                        <ul>
                            <li><img src="img/check.png" alt="arrow"> marketing research</li>
                            <li><img src="img/check.png" alt="arrow"> project planning</li>
                        </ul>
                    </div>
                    <div class="roadmap-element__quarter">
                        <h1>Q4 - 2018</h1>
                        <ul>
                            <li><img src="img/check.png" alt="arrow"> exchange listing</li>
                            <li><img src="img/check.png" alt="arrow"> hire 1 project manager and 2 developers</li>
                            <li>coinmarketap listing</li>
                        </ul>
                    </div>
                    <div class="roadmap-element__quarter">
                        <h1>Q2 - 2019</h1>
                        <ul>
                            <li>full web platform release</li>
                            <li>android app release</li>
                            <li>iOS app release</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.roadmap-container -->
    </section>
    <!-- /.roadmap -->
    <section class="links" id="links">
        <div class="links-container">
            <h1>Exchanges</h1>
            <div class="links-content">
                <div class="links-content__item">
                    <img src="https://picsum.photos/300/300?image=0" alt="image">
                </div>
                <div class="links-content__item">
                    <img src="https://picsum.photos/300/300?image=1" alt="image">
                </div>
                <div class="links-content__item">
                    <img src="https://picsum.photos/300/300?image=2" alt="image">
                </div>
                <div class="links-content__item">
                    <img src="https://picsum.photos/300/300?image=3" alt="image">
                </div>
            </div>
        </div>
        <!-- /.links-container -->
    </section>
    <!-- /.links -->
    <section class="contactUs" id="contact">
        <div class="contactUs-container">
            <h1>Contact Us</h1>
            <h2>Got a question? We'll get back to you shortly.</h2>
            <form class="contactUs-form">
                <div  class="contactUs-form__item contactError">
                     <label id="lblErrorMessage"></label>
                </div>
                <div class="contactUs-form__item">
                    <label for="question">Question</label>
                    <textarea id="txtQuestion"></textarea>
                </div>
                <br>
                <div class="contactUs-form__item">
                    <label for="email">E-mail</label>
                    <input type="email" id="txtEmail">
                </div>
                <br>
                <button class="contactUs-send" id="btnSend" onclick="return sendEmail();">Send</button>
                <br />
                <h3 class="contactUs-form__item sendMessage">
                    <label id="lblSendMessage"></label>
                </h3>
            </form>
        </div>
        <!-- /.contactUs-container -->
    </section>
    <!-- /.contactUs -->
    <footer class="footer">
        <div class="footer-container">
            <h3>Copyright 2018 © Prove Token. All Rights Reserved</h3>
            <div class="footer-social">
                <a href="https://twitter.com/ProveToken"><img src="img/twitter.svg" alt="twitter"></a>
            </div>
        </div>
        <!-- /.footer-container -->
    </footer>
    <!-- /.footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous" defer></script>
    <!-- My JS -->
    <script src="js/main.js" defer></script>
</body>
</html>